.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-img {
  height: 50px;
  object-fit: contain;
}

.logo {
  display: flex;
  align-items: center;
}


.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #e74c3c;
}

.nav-link:active, .nav-link.active {
  color: #e74c3c;
  font-weight: bold;
}