.daily-menu {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.daily-menu h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.dishes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}

.dish-details {
  max-width: 600px;
  height: 500px; /* Altura necesaria para animación */
  margin: 2rem auto;
  perspective: 1000px;
}

.dish-details-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.dish-details-front,
.dish-details-back {
  height: 100%;
}


.dish-details.flipped .dish-details-inner {
  transform: rotateY(180deg);
}

.dish-details-front, .dish-details-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.dish-details-back {
  transform: rotateY(180deg);
}

.dish-details img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.dish-details h2 {
  color: black;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.ingredients h3 {
  margin-bottom: 0.5rem;
  color: #333;
}

.ingredients ul {
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
}

.more-info-btn, .back-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.more-info-btn:hover, .back-btn:hover {
  background-color: #3672ea;
}

.dishes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; /* Esto crea espacio entre DishCards */
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .dishes-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  .dish-details {
    padding: 1rem;
  }
}